.btn {
	@include font (21px, 22px, 800, $text-transform: capitalize);
	height: 63px;
	border-radius: 30px;
	@include flex ($align-items: center);
	letter-spacing: -0.02em;
	padding-left: 38px;

	@media only screen and (max-width: 460px) {
		@include font (16px, 18px);
		padding-left: 20px;
	}

	&:hover::before {
		transition: all .2s ease-in-out;
		transform: translateX(10px);
	}

	&--green {
		background-color: $bg-btn-color;

		&:hover {
			background-color: lighten($bg-btn-color, 5%);
		}
	}

	&--border-orange {
		@include border (2px, solid, #f8b231);
	}

	&--left {
		transform: rotate(180deg);
	}
}