.form {
	margin-bottom: 24px;
	position: relative;

	&::before {
		@include pseudo;
		@include pos (absolute, $top: 37%, $left: 4%);
		@include wh-px (24, 19);
		@include background (url("../images/footer/footer_email.png"));
	}
	&::after {
		@include pseudo;
		@include pos (absolute, $bottom: -90%, $left: 25%);
		@include background (url("../images/footer/footer_arrow.png"));
		@include wh (48px, 42px);
		// @media only screen and (max-width: 1520px) {
		// 	left: 15%;
		// }
		@media only screen and (max-width: 1420px) {
			left: 10%;
		}
		@media only screen and (max-width: 600px) {
			left: 3%;
		}
	}

	// .form__input
	&__input {
		max-width: 498px;
		@include wh (100%, 62px);
		padding: 0 0 0 65px;
		background-color: $bg-main-color;
		outline: 0;
		border-style: none;
		border-radius: 30px;

		&::placeholder {
			@include font (17px, 35px, 700);
			letter-spacing: -0.02em;
			color: $text-footer-color;
		}
	}

	// .form__submit
	&__submit {
		@include font (16px, 40px, 800, $text-transform: uppercase);
		
		color: $text-footer-color;
		@include pos (absolute, $bottom: -102%, $left: 38%);
		border-style: none;
		background-color: transparent;
		@media only screen and (max-width: 1420px) {
			left: 30%;
		}
		@media only screen and (max-width: 600px) {
			left: 18%;
		}
		
	}
}