.personal {
	&__list {
		@include flex ($align-items: center);
	}

	&__icon:hover {
		transform: scale(1.3);
		}

	&__item+&__item {
		margin-left: 45px;
		}

	&__link--cart {
		position: relative;
	}

	&__count {
		@include pos ($position: absolute, $bottom: -10px, $left: 25px);
		@include font ($font-size: 10px, $text-transform: uppercase);
		@include flex (center, center, wrap);
		@include wh (21px);
		border-radius: 50%;
		background-color: $bg-main-color;
	}
}