.personal {
	&__list {
		@include flex ($ai: center);
	}

	&__icon:hover {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
	}

	&__item+&__item {
		@include mar (0, 0, 0, 45px);
	}

	&__link--cart {
		position: relative;
	}

	&__count {
		@include pos-abs ($b: -10px, $l: 25px);
		@include font ($fs: 0.625rem, $text-trans: uppercase);
		@include flex (center, center, wrap);
		@include box-size (21px, 21px);
		@include border-radius (50%);

		color: #000;

		background-color: $bg-main-color;

	}
}