.title {
	@include font ($font-size: 50px, $line-height: 40px, $font-weight: 600);
	letter-spacing: -0.02em;


	&--orange {
		color: #f7ae3b;
	}

	&--green {
		color: #0aa566;
	}

	

	@media only screen and (max-width: 360px) {
		& {
			@include font ($font-size: 44px, $line-height: 55px);
		}
	}
}
