@font-face {
	font-family: "Muli";
	src: url("../fonts/Muli-Regular.ttf"), url("../fonts/Muli-Regular.woff");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Muli";
	src: url("../fonts/Muli-Bold.ttf"), url("../fonts/Muli-ExtraBold.woff");
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: "Muli";
	src: url("../fonts/Muli-Italic.ttf");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "Muli";
	src: url("../fonts/Muli-BoldItalic.ttf"), url("../fonts/Muli-Semi-BoldItalic.ttf");
	font-weight: 800;
	font-display: swap;
}

body {
	font-family: "Muli";
	color: #fff;
	font-size: 18px;
}

.header {
	background-image: url("../images/header_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}



.header__top {
	border: 3px solid red;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	border: 3px solid red;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	

}

.header__logo {}

.header__personal {}

.header__social &__so {}

.header__content {}

.header__btn {}

.header__title {}


.menu {
	border: 3px solid rgb(37, 93, 116);
	width: 100%;
}

.menu__list {
	border: 3px solid red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
}

.menu__item {
	
}

.menu__link {
	font-family: Muli;
font-size: 16px;
line-height: 40px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.02em;
color: #fff;
}

.logo {}

.logo__img {}


.personal {
	width: 100%;
}

.personal__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.personal__item {}

.personal__link {}

.personal__icon {}

.personal__link--cart {}

.personal__count {
	font-family: Muli;
font-size: 10px;
line-height: 40px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.02em;
color: #000;
}


.social {
	width: 100%;
}

.social__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.social__item {}

.social__link {}

.social__icon {}


.btn {}

.btn--bg {}

.title {}












.smoothies {}

.smoothies__title {}

.smoothies__text {}

.smoothies__cards {}

.container {}

.cards {}

.cards__item {}

.cards__icon {}

.cards__desc {}


.about {}

.about__img {}

.about__wrapper {}

// .about__title
&__title {}

.about__title--green {}

.about__list {}

.about__item {}

.about__item--bold {}

.about__link {}

.products {}

.products__item {}


.product {}

.product__label {}

.product__subtitle {}

.product__button {}

.product__item {}

.story {}

.story__inner {}

.story__box {}

.story__title {}

.story__text {}

.story__link {}

.story__content {}

.story__image {}
}

.testimonials {}

.testimonials__inner {}

.testimonials__title {}

.testimonials__title--big {}

.testimonials__box {}

.testimonials__quote {}

.testimonials__cite {}

.testimonials__img {}
}

.blog {}

.blog__wrapper {}

.blog__text-box {}

.blog__title {}

.blog__img {}

.blog__box {}

.blog__subtitle {}

.blog__time {}

.blog__excerpt {}

.blog__link {}


.instagram {}

.instagram__title {}

.instagram__link {}

.instagram__inner {}

.instagram__picture {}

.instagram__img {}
}

.footer {}

.footer__top {}

.footer__wrapper {}

.footer__logo {}

.footer__info {}

.footer__title {}

.footer__payment {}

.footer__box {}

.footer__form {}

.footer__input {}

.footer__btn {}

.footer__social {}

.footer__list {}

.footer__item {}

.footer__link {}

.footer__img {}

.footer__bottom {}


.info {}

.info__list {}

.info__item {}

.info__link {}


.payment {}

.payment__title {}

.payment__box {}

.payment__img {}


.bottom {}

.bottom__small {}

.bottom__link {}