@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Bold.ttf"), url("../fonts/Muli-BoldItalic.ttf"), url("../fonts/Muli-ExtraBold.woff"),
		url("../fonts/Muli-Italic.ttf"), url("../fonts/Muli-Regular.woff"), url("../fonts/Muli-Semi-BoldItalic.ttf");
}

.header {
	border: 3px solid red;
	background-image: url("../images/header_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.menu__item {
	list-style-type: none;
}

.menu__link {
	font-family: Muli;
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: #5d4769;
	text-decoration: none;
}

.personal__item {
	list-style-type: none;
}

.personal__link {
	text-decoration: none;
}

.personal__count {
	background-color: rgb(28, 70, 71);
	width: 25px;
	height: 25px;
	overflow: hidden;
	text-decoration: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	font-family: Muli;
	font-size: 10px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: #000000;
}
