@font-face {
	font-family: Muli;
	src: url("./fonts/Muli-Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Regular.woff") format("woff");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Semi-BoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

:root {
	box-sizing: border-box;
	font-size: 62.5%;
	/* 10px */
}

/* проблема переполнения */
* {
	outline: solid 1px red;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow-x: hidden;
}

body {
	font-family: Muli, sans-serif;
	color: #fff;
	margin: 0;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/*
♦ Ссылки
*/
/* a:link {
	color: #1476b8;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #1430b8;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #b81414;
} */
/* .title {
	color: rgb(59, 45, 180);
	text-transform: uppercase;
	font-size: 2.5rem;
	margin: 0.2em 0;
} */
/* 
@media (max-width: 35em) {
	.title {
		font-size: 1.5rem;
	}
} */

.header {
	background: no-repeat center/cover url(../images/header_bg.jpg);
}

.container {
	max-width: 174rem;
	/* 1740px */
	height: 100vh;

	margin: 0 auto;
	padding: 0 1em;
}

.header__top {
	padding-top: 8.4rem;
	/* 84px */
	margin-bottom: 12rem;
	/* 120px */

	position: relative;
}

.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	width: 100%;
}

.menu__list {
	display: flex;
}

.menu__item + .menu__item {
	margin-left: 3.3rem;
	/* 33px */
}

.menu__link {
	font-size: 1.6rem;
	/* 16px */
	line-height: 2.5em;
	/* 40px */
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	/* 0.32px */
}

.header__right-block {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 42rem;
	/* 420px */
}

.header__personal {
	position: relative;

	margin-right: 13.4rem;
	/* 134px */
}

.header__personal::before {
	position: absolute;

	content: "";

	display: block;

	top: 10px;
	left: 205px;

	width: 4.8rem;
	/*  48px */
	height: 0.2rem;
	/* 2px */

	background-color: #ffd68f;
}

.personal__list {
	display: flex;
	align-items: center;
}

.personal__item + .personal__item {
	margin-left: 4.5rem;
}

.personal__link--cart {
	position: relative;
}

.personal__count {
	position: absolute;

	font-size: 1rem;
	/* 10px */
	text-transform: uppercase;
	color: #000;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 2.1rem;
	/* 21px */
	height: 2.1rem;
	/* 21px */

	background-color: #fff;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;

	bottom: -10px;
	left: 25px;
}

.social__list {
	display: flex;
	align-items: center;
}

.social__item {
	width: 3.8rem;
	/* 38px */
	height: 3.8rem;
	/* 38px */

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fff;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.social__item + .social__item {
	margin-left: 0.8rem;
}

.header__logo {
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.header__burger-btn {
	display: none;
	position: fixed;
	top: 1.8em;
	right: 2em;
	z-index: 1;
	cursor: pointer;
}

.header__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 5rem;
	/* 50px */
	line-height: 0.8em;
	font-weight: 800;
	letter-spacing: -0.02em;
}

.header__btn {
	font-size: 2.4rem;
	/* 24px */
	line-height: 2.5em;
	/* 40px */
	letter-spacing: -0.02em;
	text-transform: capitalize;

	cursor: pointer;

	border: none;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	text-indent: -8.5rem;
	position: relative;

	width: 28rem;
	/* 280px */
	height: 7rem;
	/* 70px */
}

.header__btn::before {
	content: "";

	position: absolute;

	top: 27px;
	left: 210px;

	width: 3rem;
	/* 30px */
	height: 1.6rem;
	/* 16px */

	background: no-repeat center/cover url("../images/arrow.png");
}

.header__burger-img {
	width: 4rem;
}

.btn {
	font-weight: 800;
}

.btn--green {
	background-color: #0aa566;
}

.btn--green:hover {
	background-color: #12c37c;
}

/* header */

/* smoothies */

.smoothies {
	padding: 10rem 0 9rem;
	/* 100px 0 90px  */
}

.smoothies__title {
	text-align: center;

	margin-bottom: 4rem;
	/* 40px */
}

.title--orange {
	color: #f7ae3b;
}

.smoothies__text {
	max-width: 91.5rem;
	/* 915px */
	text-align: center;

	margin: 0 auto 4rem;
	/* 40px */
}

.text {
	font-size: 1.8rem;
	/* 18px */
	line-height: 2em;
	/* 35px */
}

.text--black {
	color: #1e1e1e;
}

.smoothies__cards {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(2, 50%);
	gap: 2px;
	justify-content: center;

	background-color: #f6edde;

	max-width: 101rem;

	margin: 0 auto;
}

.cards__item {
	display: flex;
	align-items: center;
	flex-direction: column;

	background-color: #fff;
}

.cards__desc {
	font-size: 2.5rem;
	/* 25px */
	line-height: 1.6em;
	/* 40px */
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #f2612d;
	margin-bottom: 2.6rem;
	/* 26px */
}

.cards__icon {
	margin: 3.7rem 0 1.6rem;
	/* 20px 0 24px */
}

.cards__item:last-child {
	border: none;
}

.cards__item:nth-child(4) {
	border-right: none;
}

.cards__item:nth-child(1n + 5) {
	border-bottom: none;
}

/* smoothies */

/* about */
/* .about {
	max-height: 50em;

	display: flex;

	background-color: #158371;

	padding-left: 140px;
}

.about__img {
	width: 691px;
	height: 818px;

	transform: translateY(64px);
	-webkit-transform: translateY(64px);
	-moz-transform: translateY(64px);
	-ms-transform: translateY(64px);
	-o-transform: translateY(64px);
}

.about__wrapper {
	display: flex;
	flex-direction: column;

	margin-left: 142px;
}

.about__title {
	max-width: 10.85em;

	margin-bottom: 55px;
	margin-top: 80px;

	font-size: 55px;
	line-height: 60px;
}

.about__title--orange {
	color: #cae941;

	position: relative;
}

.about__title--orange::before {
	position: absolute;

	content: "";

	display: block;

	background: no-repeat center/cover url(../images/line.png);

	top: 60px;
	left: -5px;

	width: 450px;
	height: 13px;
}

.about__list {
	list-style-image: url(../images/li.png);

	margin-bottom: 32px;
	padding-left: 30px;
}

.about__item {
	font-size: 21px;
	line-height: 22px;

	margin-bottom: 22px;
}

.about__item--bold {
	font-weight: 800;
}

.about__btn {
	font-size: 21px;
	line-height: 22px;

	position: relative;

	width: 382px;
	height: 63px;

	padding: 0 90px 0 22px;

	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.about__btn::before {
	content: "";

	position: absolute;

	display: block;

	top: 25px;
	left: 305px;

	width: 30px;
	height: 16px;

	background: no-repeat center/cover url("../images/arrow.png");
}

.btn--border-orange {
	border: 2px solid #f8b231;
}
 */
/* about */
/* product */

/* .products__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 0 25%;

	margin: 0 auto;
}

.product__item {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;

	width: 480px;
	height: 720px;
}

.product__item--brown {
	background-color: #642c18;
}

.product__item--green {
	background-color: #1a8874;
}

.product__item--yellow {
	background-color: #fab03e;
}

.product__item--orange {
	background-color: #c3491f;
}

.product__img {
	margin-top: 129px;
	margin-bottom: 25px;
}

.product__label {
	font-size: 24px;
	line-height: 22px;
	font-weight: 700;

	margin-bottom: 5px;
}

.product__subtitle {
	font-size: 21px;
	line-height: 32px;

	margin-bottom: 60px;
}

.product__btn {
	font-size: 21px;
	line-height: 22px;

	width: 207px;
	height: 63px;

	border: 2px solid #fff;

	position: relative;

	padding: 0 124px 0 30px;

	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.product__btn::before {
	content: "";

	position: absolute;

	display: block;

	top: 20px;
	left: 140px;

	width: 30px;
	height: 16px;

	background: no-repeat center/cover url("../images/arrow_white.png");
}
 */
/* product */

/* story */
/* 
.story__inner {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 120px auto 152px;

	max-width: 1320px;
}

.story__box {
	padding-left: 17px;
}

.story__title {
	margin-bottom: 43px;
}

.story__text {
	margin-bottom: 45px;
}

.story__btn {
	width: 304px;
	height: 63px;

	font-size: 21px;
	line-height: 22px;

	border: none;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;

	padding: 0px 145px 0 25px;

	position: relative;
}

.story__btn::before {
	content: "";

	position: absolute;

	top: 20px;
	left: 225px;

	width: 30px;
	height: 16px;

	background: no-repeat center/cover url("../images/arrow.png");
}

.story__content {
	margin-left: 200px;

	position: relative;
}

.story__content::after {
	content: "";

	position: absolute;

	display: block;

	top: 23px;
	left: -167px;

	width: 290px;
	height: 216px;

	background: no-repeat center/cover url("../images/stamp.png");
} */

/* story */

/* testimonials */
/* 
.testimonials {
	background-color: #672f1b;

	position: relative;
}

.testimonials::after {
	content: "";

	position: absolute;

	display: block;

	top: -85px;
	right: 40px;

	width: 410px;
	height: 301px;

	background: no-repeat center/cover url("../images/dots.png");
}

.testimonials__inner {
	margin: 0 auto;
	padding: 117px 0 80px;

	position: relative;
}

.testimonials__inner::after {
	content: "Sarah A";

	position: absolute;

	display: block;

	opacity: 0.6;

	font-size: 200px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #521905;

	top: 290px;
	left: 430px;
}

.testimonials__title {
	text-align: center;

	margin-bottom: 130px;
}

.testimonials__title--big {
	color: #f2612d;

	text-transform: uppercase;
}

.testimonials__box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 59px;

	max-width: 740px;

	margin: 0 auto 120px;
}

.testimonials__textbox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding-top: 40px;
}

.testimonials__quote {
	font-size: 18px;
	line-height: 35px;
	text-align: center;

	z-index: 1;
}

.testimonials__cite {
	line-height: 45px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	color: #f7ae3b;
}

.testimonials__img {
	z-index: 1;
}

.testimonials__container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 98px;

	max-width: 160px;

	margin: 0 auto;
}

.testimonials__btn-left {
	display: block;

	width: 30px;
	height: 16px;

	background: no-repeat center/cover url("../images/arrow.png");

	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.testimonials__btn-right {
	width: 30px;
	height: 16px;

	background: no-repeat center/cover url("../images/arrow.png");
} */

/* testimonials */
/* .blog {
	padding: 95px 0 180px;
	margin: 0 auto;
}

.blog__wrapper {
	display: flex;
	justify-content: center;
}

.blog__box {
	display: flex;
	flex-direction: column;
	gap: 55px;
}

.blog__img {
	z-index: 1;
}

.blog__text-box {
	padding: 223px 30px 45px;

	position: relative;
}

.blog__text-box::before {
	position: absolute;

	content: "";

	width: 687px;
	height: 12px;

	background-color: #f7ae3b;

	top: 165px;
	left: -45px;

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.blog__subtitle {
	font-size: 30px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #f2612d;

	margin-left: 30px;
}

.blog__time {
	font-size: 16px;
	line-height: 35px;
	color: #1e1e1e;

	margin-left: 30px;
}

.blog__text {
	max-width: 472px;

	margin-left: 90px;
	margin-top: 25px;

	position: relative;
}

.blog__text::after {
	content: "";

	position: absolute;

	display: block;

	bottom: 15px;
	right: 143px;

	width: 18px;
	height: 10px;

	background: no-repeat center/cover url("../images/arrow.png");
}

.blog__link {
	font-size: 18px;
	line-height: 35px;
	color: #1e1e1e;
	font-weight: 800;
	font-style: italic;
} */

/* blog */

/* instagram */
/* .instagram {
	margin: 0 auto;

	text-align: center;
}

.instagram__inner {
	position: relative;
}

.instagram__title {
	font-size: 24px;
	text-align: center;

	position: relative;

	display: inline-block;

	margin-bottom: 45px;

	transform: translate(30px, 0px);
	-webkit-transform: translate(30px, 0px);
	-moz-transform: translate(30px, 0px);
	-ms-transform: translate(30px, 0px);
	-o-transform: translate(30px, 0px);
}

.title--green {
	color: #0aa566;
}

.instagram__title::before {
	position: absolute;

	content: "";

	display: block;

	background: no-repeat center/cover url("../images/instagramm.png");

	width: 26px;
	height: 26px;

	top: 10px;
	left: -42px;
}

.instagram__link {
	color: inherit;
	text-align: center;
}

.instagram__inner {
	display: flex;
	justify-content: space-between;
}

.instagram__picture {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.instagram__picture::before {
	position: absolute;

	content: "";

	display: block;

	background: no-repeat center/cover url("../images/instaramm_white.png");

	width: 26px;
	height: 26px;

	bottom: 25px;
	right: 20px;

	z-index: 1;
}

.instagram__img {
	width: 100%;

	object-fit: contain;
}

.footer__top {
	background-color: #f4ad39;

	padding: 77px 0 93px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
}

.footer__logo {
	margin: 54px 0 74px 100px;
}

.footer__info {
	margin-left: 294px;
}

.footer__title {
	font-size: 26px;

	margin-bottom: 18px;
}

.info__list {
	width: 165px;
}

.info__link {
	font-size: 18px;
	line-height: 35px;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #6d450c;
}

.footer__payment {
	margin-left: 152px;
}

.payment__box {
	display: flex;
	justify-content: space-between;
	gap: 18px;
	flex-wrap: wrap;

	max-width: 270px;
}

.payment__img {
	height: 100%;
}

.footer__box {
	margin: 0 80px 0 155px;
}

.footer__form {
	margin-bottom: 24px;

	position: relative;
}

.footer__form::before {
	position: absolute;

	content: "";

	display: block;

	width: 24px;
	height: 24px;

	background: no-repeat center/cover url("../images/email.png");

	top: 22px;
	left: 23px;
}

.footer__input {
	padding-left: 50px;

	width: 498px;
	height: 63px;

	background-color: #fff;

	outline: 0;
	border-style: none;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.footer__input::placeholder {
	font-size: 17px;
	line-height: 35px;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #6d450c;
}

.footer__inner {
	display: flex;
	align-items: center;

	margin-left: 187px;
}

.footer__text {
	line-height: 40px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	color: #6d450c;

	margin-right: 30px;

	position: relative;
}

.footer__text::before {
	position: absolute;

	content: "";

	display: block;

	background: no-repeat center/cover url("../images/arrow_footer.png");

	width: 48px;
	height: 43px;

	bottom: 7px;
	left: -70px;
}

.footer__social {
	display: flex;
}

.social__item--footer {
	background-color: transparent;
}

.footer__bottom {
	background-color: #6e2c1e;

	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 60px;
}

.footer__small {
	font-size: 13px;
	line-height: 35px;
	letter-spacing: 0.02em;
	color: #af8a82;
	text-align: center;
}

.footer__link {
	background-color: #f2662f;

	width: 53px;
	height: 53px;

	position: fixed;

	right: 80px;
	bottom: 40px;

	z-index: 100;

	background-image: url(../images/arrow__up.png);
	background-repeat: no-repeat;
	background-size: 13px 25px;
	background-position: center;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.footer__link::before {
	position: absolute;

	content: "Go top";

	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	letter-spacing: -0.02em;

	width: 55px;
	height: 14px;

	top: 40px;
	right: 60px;
} */

/* создаем медиа запросы */
/* Extra small devices (phones, 600px and down)  */
/* @media only screen and (max-width: 37.5em) {
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 37.5) {
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 48em) {
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 62em) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 75em) {
} */

/* @media only screen and (max-width : 1920px) {}
@media only screen and (max-width : 1680px) {}
@media only screen and (max-width : 1366px) {}
@media only screen and (max-width : 1280px) {}
@media only screen and (max-width : 1024px) {}
@media only screen and (max-width : 800px)  {}
@media only screen and (max-width : 768px)  {}
@media only screen and (max-width : 600px)  {}
@media only screen and (max-width : 533px)  {}
@media only screen and (max-width : 360px)  {}
@media only screen and (max-width : 320px)  {}
@media only screen and (max-width : 240px)  {}
@media only screen and (max-width : 176px)  {} */

@media only screen and (max-width: 1440px) {
	.menu__item + .menu__item {
		margin-left: 2.5rem;
	}

	.header__personal {
		margin-right: 10rem;
	}

	.header__personal::before {
		display: none;
	}

	.personal__item + .personal__item {
		margin-left: 3.8rem;
	}

	.social__item + .social__item {
		margin-left: 0.6rem;
	}
}

@media only screen and (max-width: 1280px) {
	.header__navigation {
		flex-direction: column;
		justify-content: space-between;
		padding-top: 9rem;
		height: 27rem;
	}

	.menu__link {
		font-size: 1.8rem;
	}

	.header__right-block {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 10rem;
	}

	.header__personal {
		margin-right: 0;
	}

	.social__item + .social__item {
		margin-left: 1.5rem;
	}

	.header__logo {
		max-width: 60%;
		top: 5rem;
	}
}

@media only screen and (max-width: 1140px) {
	.smoothies {
		padding: 8rem 0 7rem;
	}
	.smoothies__title {
		font-size: 4rem;
		margin-bottom: 3rem;
	}
	.smoothies__text {
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}
	.smoothies__cards {
		max-width: 95rem;
	}
	.cards__icon {
		margin: 3rem 0 1.5rem;
	}
}
@media only screen and (max-width: 960px) {
	.smoothies {
		padding: 7rem 0 6rem;
	}

	.smoothies__title {
		margin-bottom: 2.5rem;
	}
	.title {
		font-size: 3.5rem;
	}
	.smoothies__text {
		max-width: 70rem;
		margin-bottom: 3rem;
	}

	.text {
		font-size: 1.4rem;
	}
	.smoothies__cards {
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 25%);
		max-width: 50.5rem;
	}
}
@media only screen and (max-width: 720px) {
	.header__navigation {
		display: none;
	}

	._active {
		position: block;

		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		width: 100%;
		height: 100vh;

		z-index: 1;

		background-color: #12c37c;

		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		align-items: center;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 50rem;
		/* 500px */
	}

	.menu__item + .menu__item {
		margin-left: 0;
	}

	.menu__link {
		font-size: 2rem;
		/* 20px */
	}

	.header__right-block {
		margin: 10rem 0 15rem;
	}

	.header__logo {
		display: none;
	}

	.logo__img {
		width: 250px;
	}

	.header__burger-btn {
		display: block;
	}
	.smoothies {
		padding: 6rem 0 5rem;
	}

	.smoothies__title {
		margin-bottom: 2.3rem;
	}
	.title {
		font-size: 3.2rem;
	}
	.smoothies__text {
		max-width: 60rem;
		margin-bottom: 2.5rem;
	}

	.text {
		font-size: 1.2rem;
	}
	.smoothies__cards {
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 25%);
		max-width: 40rem;
	}
	.cards__desc {
		font-size: 2rem;

		margin-bottom: 2.3rem;
	}
}
@media only screen and (max-width: 540px) {
	.smoothies {
		padding: 6rem 0 5rem;
	}

	.smoothies__title {
		margin-bottom: 2.5rem;
	}
	.title {
		font-size: 3.5rem;
	}
	.smoothies__text {
		max-width: 50rem;
		margin-bottom: 3rem;
	}

	.text {
		font-size: 1.2rem;
	}
	.smoothies__cards {
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 25%);
		max-width: 42rem;
	}
	.cards__desc {
		font-size: 2rem;
	}
}
@media only screen and (max-width: 320px) {
	.smoothies {
		padding: 5rem 0 4rem;
	}

	.smoothies__title {
		margin-bottom: 2rem;
	}
	.title {
		font-size: 3rem;
	}
	.smoothies__text {
		max-width: 28rem;
		margin-bottom: 2rem;
	}

	.text {
		font-size: 1rem;
	}
	.smoothies__cards {
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 25%);
		max-width: 26rem;
	}
	.cards__desc {
		font-size: 1.2rem;
	}
}
