@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Regular.woff") format("woff");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Semi-BoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Muli, sans-serif;
	color: #fff;
}

.header {
	background: no-repeat center/cover url(../images/header_bg.jpg);
}

.container {
	max-width: 1750px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 15px;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 84px;
	position: relative;
	margin-bottom: 120px;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 33px;
}

.menu__link {
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: #fff;
}

.header__logo {
	position: absolute;
	top: 67px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.header-block {
	display: flex;

	align-items: center;
	flex-wrap: wrap;
	width: 420px;
}

.header__personal {
	position: relative;
}

.header__personal::before {
	position: absolute;
	content: "";
	display: block;
	top: 10px;
	left: 205px;
	width: 47px;
	height: 2px;
	background-color: #ffd68f;
}

.personal__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.personal__link--cart {
	position: relative;
}

.personal__count {
	position: absolute;
	font-size: 10px;
	text-transform: uppercase;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 21px;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	bottom: 15px;
	left: 20px;
}

.social__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
}

.social__item {
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.header__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__btn {
	font-size: 24px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #fff;
	position: relative;
	text-transform: capitalize;
	border: none;
	width: 280px;
	height: 70px;
}

.header__btn::before {
	content: "";
	position: absolute;
	top: 27px;
	left: 210px;
	width: 30px;
	height: 16px;
	background-image: url("../images/arrow.png");
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 112px 0 45px;
}

.btn--green {
	background-color: #0aa566;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}

.smoothies {
	padding: 100px 0 100px;
}

.smoothies__title {
	text-align: center;
	margin-bottom: 40px;
}

.title {
	font-size: 50px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: -0.02em;
}

.title--orange {
	color: #f7ae3b;
}

.smoothies__text {
	max-width: 915px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 60px;
}

.text {
	font-size: 18px;
	line-height: 35px;
}

.text--black {
	color: #1e1e1e;
}

.smoothies__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2px;
	justify-content: center;
	background-color: #f6edde;
	max-width: 1010px;
	margin: 0 auto;
}

.cards__item {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 260px;
	height: 194px;
	background-color: #fff;
}

.cards__icon {
	margin: 20px 0 8px;
}

.cards__desc {
	font-size: 25px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #f2612d;
	padding-top: 10px;
}

.cards__item:last-child {
	border: none;
}

.cards__item:nth-child(4) {
	border-right: none;
}

.cards__item:nth-child(1n + 5) {
	border-bottom: none;
}
