.about {
	background-color: $bg-about-color;
	


	&__inner {
		@include flex();
		
		
	@media only screen and (max-width: 1536px) {
		
		@include flex ($align-items: center, $flex-direction: column);
		}
	}

	&__img {
		transform: translate(40px, 8%);				
		max-width: 690px;
		width: 100%;
		margin-right: 190px;    
		@media only screen and (max-width: 1536px) {
			margin-right: 0;
			transform: translate(0, 6%);
			margin-bottom: 50px;
			
		}
	}
	&__wrap {
		@include flex ($flex-direction: column);
		margin-top: 85px;
		@media only screen and (max-width: 1536px) {
			margin: 50px 0 75px;
		}
			
		// padding-left: 18px;		
		// @media only screen and (max-width: 1520px) {
		// 	margin-left: 70px;
		// }

		
	}

	&__title {
		max-width: 640px;
		margin-bottom: 60px;
		@include font (55px, 60px);
	}

	&__list {
		list-style-image: url(../images/about/about_li.png);
		padding-left: 25px;
		margin-bottom: 32px;
		}

	&__item {
		@include font (21px, 22px);
		margin-bottom: 22px;
		
		@media only screen and (max-width: 460px) {
			@include font (14px, 16px);
			}
		
		&--bold {
			font-weight: 800;
		}
	}

	&__btn {
		position: relative;
		max-width: 382px;
		width: 100%;
		@media only screen and (max-width: 460px) {
			@include font (16px, 18px);
			padding-left: 20px;
			
		}
				
		&::before {
			@include pseudo;
			@include pos (absolute, $top: 22px, $right: 12%);
			@include wh-px (30, 16);
			@include background (url("../images/base/arrow.png"));
			@media only screen and (max-width: 460px) {
				right: 4%;
			}
		}
	}
}