.about {
	background-color: #158371;

	padding-left: 142px;
	/* 142px */
}

.about__inner {
	display: flex;
}
.about__wrap {
	height: 800px;
}
.about__img {
	width: 691px;
	/*691px*/
	height: 818px;
	/*818px*/
	transform: translateY(0px) rotate(-7deg);
	-webkit-transform: translateY(0px) rotate(-7deg);
	-moz-transform: translateY(0px) rotate(-7deg);
	-ms-transform: translateY(0px) rotate(-7deg);
	-o-transform: translateY(0px) rotate(-7deg);
}

.about__wrapper {
	display: flex;
	flex-direction: column;

	margin-left: 142px;
	/* 142px */
}

.about__title {
	max-width: 660px;
	/* 660px */

	margin-bottom: 55px;
	/* 55px */
	margin-top: 80px;
	/* 80px */

	font-size: 3.4375rem;
	/* 55px */
	line-height: 1.1em;
}

.about__title--orange {
	color: #cae941;

	position: relative;
}

.about__title--orange::before {
	position: absolute;

	content: "";

	display: block;

	background: no-repeat center/cover url(../images/line.png);

	top: 60px;
	/* 60px */
	left: -5px;
	/* -5px */

	width: 450px;
	/* 450px */
	height: 13px;
	/* 13px */
}

.about__list {
	list-style-image: url(../images/li.png);

	margin-bottom: 32px;
	/* 32px */
	padding-left: 30px;
	/* 30px */
}

.about__item {
	font-size: 1.3125rem;
	/* 21px */
	line-height: 1.05em;

	margin-bottom: 22px;
	/* 22px */
}

.about__item--bold {
	font-weight: 800;
}

.about__btn {
	position: relative;
	width: 382px;
	/*382px*/
	height: 63px;
	/*63px*/
	text-indent: -5.25rem;
	/* 84px */

	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.about__btn::before {
	content: "";

	position: absolute;

	display: block;

	top: 22px;
	/* 22px */
	left: 305px;
	/* 305px */

	width: 30px;
	/* 30px */
	height: 16px;
	/* 16px */

	background: no-repeat center/cover url("../images/arrow.png");
}
@media only screen and (max-width: 1440px) {
	.about {
		padding-left: 80px;
		/* 80px */
		max-height: 1000px;
		/* 1000px */
	}

	.about__wrapper {
		margin-left: 80px;
		/* 80px */
	}

	.about__title {
		margin-top: 65px;
		/* 80px */
	}
	.about__title--orange::before {
		top: 120px;
		/* 120px */
		left: -320px;
		/* -320px */
		width: 420px;
		/* 420px */
	}
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
	.about {
		max-height: 1660px;
		/* 1660px */

		padding: 56px 0 100px 38px;
		/* 56px 0 100px 38px*/
	}

	.about__inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.about__wrapper {
		flex-direction: column;

		margin-left: 0;
		/* 142px */
	}
}

@media only screen and (max-width: 360px) {
	.about {
		padding-left: 12px;
		/* 12px */
	}

	.about__img {
		width: 337px;
		/*337px*/
		height: 399px;
		/*399px*/
	}

	.about__title {
		max-width: 660px;
		/* 660px */

		font-size: 2.75rem;
		/* 44px */

		margin-bottom: 60px;
		/* 60px */
		margin-top: 50px;
		/* 50px */
	}

	.about__title--orange::before {
		top: 95px;
		/* 95px */
		left: -260px;
		/* -260px */

		width: 305px;
		/* 305px */
		height: 9px;
		/* 9px */
	}

	.about__btn {
		font-size: 1.125rem;
		/*18px*/

		width: 343px;
		/*343px*/
	}

	.about__btn::before {
		left: 280px;
		/* 280px */
	}

	.about__item--bold {
		line-height: 1.5em;
	}
}