.blog {
	padding: 90px 10px 190px;
	
	&__wrapper {
		@include flex (center, center, wrap);
	}

	&__box {
		@include flex ($flex-direction: column);
		margin-right: 60px;
		
	}

	&__title {
		margin-bottom: 62px;
		}
		&__img {
			width: 100%;
			
		}
		&__picture {
			position: relative;
			&::before {
				@include pseudo;
				@include pos (absolute, $top: 17%, $left: 93%);
				@include wh (685px, 12px);			
    			background-color: #f7ae3b;
				z-index: -1;
				border-bottom-right-radius: 10px;
				border-top-right-radius: 10px; 
				
				@media only screen and (max-width: 1216px) {
					display: none;
			}
			}
		}
			
		

	&__text-box {
		padding: 225px 0 45px;
		margin-right: 40px;
		
		@media only screen and (max-width: 1216px) {
			margin-top: 30px;
			
			}

		
	}

	&__subtitle {
		@include font (30px, 39px, 800);
		letter-spacing: -0.02em;		
		}

	&__time {
		@include font (16px, 35px);
		
		}

	&__text {
		max-width: 472px;
		margin: 30px 0 0 62px;
		}

	&__link {
		@include font (18px, 35px, 800);
		font-style: italic;
		position: relative;

		&::after {
			@include pseudo;
			@include pos (absolute, $bottom: 5px, $right: -30px);
			@include wh-px (18, 10);
			@include background (url("../images/base/arrow.png"));
		}
	}
}