.footer {
	&__top {
		background-color: $bg-footer-color;
		@include pad (80px, 0, 93px, 0);
	}

	&__wrapper {
		@include flex (space-between, center, wrap);
		@media only screen and (max-width: 1568px) {
			@include flex (center, center, wrap, column);
		}
	}

	&__logo {
		@include mar (0, 195px, 40px, 0);

	}

	&__wrap {
		@include flex (center, center, wrap);
		@include mar (0, 38px, 0, 0);
		max-width: 590px;

		@media only screen and (max-width: 1520px) {
			@include mar (0, 0, 0, 0);
		}

	}

	&__info {
		@include mar (0, 0, 15px, 0);
	}

	&__title {
		font-size: 1.625rem;
		/* 26px */
		@include mar (0, 0, 30px, 0);
	}

	&__info-list {
		@include box-size ($w: 170px);
	}

	&__info-link {
		@include font ($fs: 1.125rem, $lh: 1.95em, $ls: -0.02, $fw: 700);
		color: $text-footer-color;
	}

	&__pay {
		@include mar (0, 0, 0, 144px);

		@media only screen and (max-width: 1552px) {
			@include mar (0, 0, 0, 95px);
		}

	}

	&__pay-list {
		@include flex ($jc: flex-start, $ai: center, $fw: wrap);
		@include box-size ($w: 270px);
	}

	&__pay-img {
		@include mar (0, 18px, 20px, 0);
		@include box-size ($h: 100%);
	}

	&__box {
		@include mar (0, 0, 30px, 0);
	}

	&__form {
		@include mar (0, 0, 24px, 0);

		position: relative;

		&::before {
			@include pseudo;
			@include pos-abs ($t: 22px, $l: 22px);
			@include box-size (24px, 19px);
			@include background (url("../images/footer/footer_email.png"));
		}
	}

	&__input {

		@include box-size (498px, 62px);
		text-indent: 65px;

		background-color: $bg-main-color;
		outline: 0;
		border-style: none;
		@include border-radius-px (30);

		&::placeholder {
			@include font ($fs: 1.05rem, $lh: 2.05em, $ls: -0.02em, $fw: 700);
			color: $text-footer-color;
		}
	}

	&__inner {
		@include flex ($ai: center);
		@include mar (0, 0, 0, 186px);
	}

	&__text {
		@include font ($fs: 1rem, $lh: 2.5em, $ls: -0.02em, $text-trans: uppercase, $fw: 800);
		@include mar (0, 44px, 0, 0);
		color: $text-footer-color;
		position: relative;

		&::before {
			@include pseudo;
			@include pos-abs ($b: 7px, $l: -62px);
			@include background (url("../images/footer/footer_arrow.png"));
			@include box-size (48px, 42px);
		}
	}

	&__social {
		@include flex ();
	}

	&__bottom {
		background-color: $bg-footer-bottom-color;
		@include mar (0, auto, 0, auto);
		@include flex ($jc: center, $ai: center);
		@include box-size ($h: 60px);
	}

	&__small {
		@include font ($fs: 0.8rem, $lh: 2.7em, $ls: 0.02em);
		color: #af8a82;
		text-align: center;
	}

	&__link {
		background-color: #f2662f;
		@include box-size (53px, 55px);
		@include pos-fix ($b: 50px, $r: 120px);
		z-index: 100;
		@include background (url(../images/footer/footer_arrow__up.png));
		background-size: 14px 25px;
		@include border-radius-px (5);

		&::before {
			@include pseudo ('Go top');
			@include pos-abs ($t: 40px, $r: 60px);
			@include font ($fs: 1rem, $lh: 2.5em, $ls: -0.02em, $fw: 700);
			@include box-size (55px, 14px);
		}
	}

	@media only screen and (max-width: 1520px) {}


}