.footer {
	&__top {
		background-color: #f4ad39;
		@include pad-mar ($pt: 77px, $pr: 0, $pb: 93px, $pl: 0);
	}

	&__wrapper {
		@include flex ($jc: space-between);
	}

	&__logo {
		@include pad-mar ($mt: 54px, $mr: 0, $mb: 74px, $ml: 100px);
	}

	&__wrap {
		@include flex ();
	}

	&__info {
		@include pad-mar ($mb: 294px);
	}

	&__title {
		font-size: 1.625rem;
		/* 26px */
		@include pad-mar ($mb: 35px);
	}

	&__info-list {
		@include box-size ($w: 165px);
	}

	&__info-link {
		@include font ($fs: 1.125rem, $lh: 1.95em, $ls: -0.02, $fw: 700);
		color: #6d450c;
	}

	&__pay {
		@include pad-mar ($ml: 152px);
	}

	&__pay-list {
		@include flex ($jc: flex-start, $ai: center, $fw: wrap);
		@include box-size ($w: 270px);
	}

	&__pay-img {
		@include pad-mar ($mr: 18px, $mb: 20px);
		@include box-size ($h: 100%);
	}

	&__box {
		@include pad-mar ($mt: 0, $mr: 80px, $mb: 0, $ml: 155px);
	}

	&__form {
		@include pad-mar ($mb: 24px);

		position: relative;

		&::before {
			@include pseudo ($t: 22px, $l: 22px);
			@include box-size ($w: 24px, $h: 19px);

			background: no-repeat center/cover url("../images/email.png");
		}
	}

	&__input {
		@include pad-mar ($pl: 50px);
		@include box-size ($w: 498px, $h: 62px);

		background-color: #fff;

		outline: 0;
		border-style: none;
		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		-ms-border-radius: 30px;
		-o-border-radius: 30px;

		&::placeholder {
			@include font ($fs: 1.05rem, $lh: 2.05em, $ls: -0.02em, $fw: 700);
			color: #6d450c;
		}
	}

	&__inner {
		@include flex ($ai: center);
		@include pad-mar ($ml: 186px);
	}

	&__text {
		@include font ($fs: 1rem, $lh: 2.5em, $ls: -0.02em, $text-trans: uppercase, $fw: 800);
		@include pad-mar ($mr: 30px);
		color: #6d450c;
		position: relative;

		&::before {
			@include pseudo ($b: 7px, $l: -7px);
			background: no-repeat center/cover url("../images/arrow_footer.png");
			@include box-size ($w: 48px, $h: 42px);
		}
	}

	&__social {
		@include flex ();
	}

	&__bottom {
		background-color: #6e2c1e;
		@include pad-mar ($mt: 0, $mr: auto, $mb: 0, $ml: auto);
		@include flex ($jc: center, $ai: center);
		@include box-size ($h: 60px);
	}

	&__small {
		@include font ($fs: 0.8rem, $lh: 2.7em, $ls: 0.02em);
		color: #af8a82;
		text-align: center;
	}

	&__link {
		background-color: #f2662f;
		@include box-size ($w: 53px, $h: 55px);
		@include pos-fix ($b: 80px, $r: 80px);
		z-index: 100;
		background-image: url(../images/arrow__up.png);
		background-repeat: no-repeat;
		background-size: 14px 25px;
		background-position: center;

		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;

		&::before {
			@include pseudo ($t: 40px, $r: 60px);
			content: "Go top";
			@include font ($fs: 1rem, $lh: 2.5em, $ls: -0.02em, $fw: 700);
			@include box-size ($w: 55px, $h: 14px);
		}
	}

	@media only screen and (max-width: 1440px) {
		&__logo {
			@include pad-mar ($mt: 54px, $mr: 0, $mb: 74px, $ml: 55px);
		}

		&__info {
			@include pad-mar ($ml: 100px);
		}

		&__pay {
			@include pad-mar ($ml: 100px);
		}

		&__box {
			@include pad-mar ($mt: 0, $mr: 80px, $mb: 0, $ml: 80px);
		}

		&__inner {
			@include pad-mar ($ml: 100px);
		}

		&__input {
			@include box-size ($w: 400px);
		}
	}

	@media only screen and (max-width: 1368px) {
		&__top {
			@include pad-mar ($pt: 65px, $pr: 106px, $pb: 93px, $pl: 106px);
		}

		&__wrapper {
			@include flex ($jc: center, $ai: center, $fw: wrap, $fd: column);
		}

		&__logo {
			@include pad-mar ($mt: 0, $mr: 30px, $mb: 80px, $ml: 0);
		}

		&__wrap {
			@include flex ($jc: space-between);
			@include pad-mar ($mb: 60px);
			@include box-size ($w: 60%);
		}

		&__info {
			@include pad-mar ($ml: 0);
		}

		&__title {
			@include pad-mar ($mb: 42px);
		}

		&__box {
			@include pad-mar ($mt: 0, $mr: 90px, $mb: 0, $ml: 0);
		}

		&__text {
			@include pad-mar ($mr: 23px);
		}
	}

	@media only screen and (max-width: 992px) {}

	@media only screen and (max-width: 768px) {
		&__top {
			@include pad-mar ($pt: 65px, $pr: 106px, $pb: 93px, $pl: 106px);
		}

		&__wrapper {
			@include flex ($jc: center, $ai: center, $fw: wrap, $fd: column);
		}

		&__logo {
			@include pad-mar ($mt: 0, $mr: 30px, $mb: 80px, $ml: 0);
		}

		&__wrap {
			@include flex ($jc: space-between);
			@include pad-mar ($mb: 60px);
		}

		&__info {
			@include pad-mar ($ml: 0);
		}

		&__title {
			@include pad-mar ($mb: 42px);
		}

		&__box {
			@include pad-mar ($mt: 0, $mr: 90px, $mb: 0, $ml: 0);
		}

		&__text {
			@include pad-mar ($mr: 23px);
		}
	}

	@media only screen and (max-width: 360px) {
		&__top {
			@include pad-mar ($pt: 65px, $pr: 10px, $pb: 68px, $pl: 10px);
		}


		&__wrapper {
			@include flex ($jc: flex-start, $ai: flex-start, $fw: wrap, $fd: column);
		}

		&__logo {
			@include pad-mar ($mt: 0, $mr: 30px, $mb: 60px, $ml: 64px);
		}

		&__wrap {
			@include flex ($jc: space-between, $ai: center, $fd: column);
			@include pad-mar ($mb: 48px);
		}

		&__info {
			@include pad-mar ($mb: 0, $ml: 54px);
		}

		&__title {
			@include pad-mar ($mb: 22px);
		}

		&__pay {
			@include pad-mar ($ml: 0);
		}

		&__pay-list {
			@include box-size ($w: 354px);
		}

		&__box {
			@include pad-mar ($mt: 0, $mr: 90px, $mb: 0, $ml: 0);
		}

		&__input {
			text-indent: 10px;
			@include box-size ($w: 343px);
		}

		&__inner {
			@include pad-mar ($ml: 82px);
		}

		&__text {
			line-height: 1.125rem;
			@include pad-mar ($ml: 24px);

			&::before {
				@include pseudo ($b: -2px, $l: -55px);

				background: no-repeat center/cover url("../images/arrow_footer.png");
				@include box-size ($w: 48px, $h: 42px);
			}

			&__link {
				right: 12px;

				&::before {
					display: none;
				}
			}
		}
	}
}