.footer {
	&__top {
		background-color: $bg-footer-color;
		padding: 60px 0 95px;
	}

	&__wrapper {
		@include flex (space-between, flex-start);
		@media only screen and (max-width: 1280px) {
			@include flex (center, center, $flex-direction: column);
			}

		// @media only screen and (max-width: 1568px) {
		// 	@include flex (center, center, wrap, column);
		// }
	}

	&__logo {
		margin-top: 65px;
		flex-basis: 25%;
		@media only screen and (max-width: 1280px) {
			flex-basis: 100%;
			margin: 0 0 50px;
		}

	}
&__wrap {
	flex-basis: 38%;
	@include flex (center, center, wrap);
	margin: 0 50px;
	@media only screen and (max-width: 1280px) {
		flex-basis: 100%;
		margin: 0 0 50px;
		gap: 100px;
	}
}
	&__info {
		flex-basis: 43%;
		@media only screen and (max-width: 1280px) {
			flex-basis: 50%;
			
		}

	}

	&__title {
		font-size: 26px;
		margin-bottom: 24px;
	}

	&__info-link {
		@include font (18px, 35px, 700);
		letter-spacing: -0.02em;
		color: $text-footer-color;
	}

	&__pay {
		flex-basis: 42%;
		margin-left: 34px;
		

		@media only screen and (max-width: 1280px) {
			flex-basis: 50%;
			margin-left: 0;
		}
	}

	&__pay-list {
		@include flex (flex-start, center, wrap);
		width: 270px;
		gap: 23px;
	}

	&__pay-img {
		height: 100%;
	}

	&__box {
		flex-basis: 29%;
		margin-left: 60px;
		@media only screen and (max-width: 1280px) {
			flex-basis: 100%;
			margin-left: 0;
		}
	}


	&__inner {
		@include flex (flex-end, center);
		margin-right: 9%;

		@media only screen and (max-width: 1520px) {
			margin-right: 0;
		}
	}


	&__social {
		display: flex;
	}

	&__bottom {
		background-color: $bg-footer-bottom-color;
		margin: 0 auto;
		@include flex (center, center);
		height: 60px;
	}

	&__small {
		@include font (13px, 35px, $text-align: center);
		letter-spacing: 0.02em;
		color: #af8a82;
	}

	&__link {
		background-color: #f2662f;
		@include wh-px (53, 55);
		@include pos (fixed, $bottom: 35px, $right: 100px);
		z-index: 100;
		@include background (url(../images/footer/footer_arrow__up.png));
		background-size: 14px 25px;
		border-radius: 5px;

		&::before {
			@include pseudo ('Go top');
			@include pos (absolute, $top: 40px, $right: 60px);
			@include font (16px, 40px, 700);
			letter-spacing: -0.02em;
			@include wh-px (55, 14);
		}
	}
}