.header {
	// width: 100vw;
	min-height: 100vh;
	position: relative;

	// perspective-origin: center center;
	// transform-style: preserve-3d;

	&::before {
		@include pseudo;
		@include background (url('../images/header/header_bg.jpg'));
		@include pos(absolute, 0, 0, 0, 0);
		z-index: -1;
		transform-origin: center;
	}

	&__top {
		padding-top: 84px;
		margin-bottom: 120px;
		position: relative;
	}

	&__navigation {
		@include flex (space-between, center, wrap);
		z-index: 1;
		width: 100%;

		@media only screen and (max-width: 1368px) {
			display: none;
		}

	}

	&__right-block {
		@include flex (space-between, center);

		@media only screen and (max-width: 590px) {
			@include flex (center, center, $flex-direction: column);
			margin-bottom: 30px;
		}

		@media only screen and (max-width: 590px) and (orientation: landscape) {
			flex-direction: row;
			margin-bottom: 20px;
		}
	}

	&__personal {
		position: relative;
		margin-right: 134px;

		@media only screen and (max-width: 1368px) {
			&__right-block {
				@include flex;
				margin: 0 0 50px;
			}
		}

		@media only screen and (max-width: 590px) {
			margin-right: 0;
			margin-bottom: 30px;

			@media only screen and (max-width: 590px) and (orientation: landscape) {
				margin-right: 134px;
				margin-bottom: 0;
			}
		}


		&::before {
			@include pseudo;
			@include pos (absolute, $top: 10px, $left: 205px);
			@include wh-px (48, 2);
			background-color: $bg-header-color;

			@media only screen and (max-width: 1440px) {
				display: none;
			}
		}
	}

	&__logo {
		@include pos (absolute, $top: 56%, $left: 50%);
		transform: translateX(-50%);
	}

	&__burger-btn {
		@include pos (fixed, $top: 15px, $right: 25px);
		@include wh(50px);
		display: none;
		z-index: 1;

		@media only screen and (max-width: 1368px) {
			display: block;
		}

		@media only screen and (max-width: 576px) {
			right: 0;
		}
	}

	&__content {
		@include flex (center, center, $flex-direction: column);
	}

	&__btn {
		height: 70px;	
		max-width: 280px;
		border-radius: 35px;
		@include font (24px, 60px);
		position: relative;

		&::before {
			@include pseudo;
			@include pos ($position: absolute, $top: 27px, $right: 14%);
			@include wh-px (30, 16);
			@include background (url('../images/base/arrow.png'));
		}
	}

	@media only screen and (max-width: 1368px) {
		


		&__burger-line {
			@include wh-px (35, 2);
			background-color: $burger-color;
			position: relative;
			display: block;
			transition: all .7s ease-in-out;

			&::after,
			&::before {
				@include pseudo;
				@include wh-px (35, 2);
				@include pos (absolute, $right: 0);
				background-color: $burger-color;
			}

			&::after {
				top: 10px;
				width: 30px;
			}

			&::before {
				top: -10px;
				width: 40px;
			}
		}
	}

	@media only screen and (max-width: 1368px) and (orientation: landscape) {
		&__list {
			flex-direction: row;
		}

		&__right-block {
			margin-bottom: 20px;
		}
	}
}