.header {
	@include background (url('../images/header/header_bg.jpg'));
	z-index: -1;
	min-height: 100vh;

	&__top {
		@include pad (84px, 0, 0, 0);
		@include mar (0, 0, 120px, 0);
		position: relative;
	}

	&__navigation {
		@include flex ($jc: space-between, $ai: center, $fw: wrap);
		z-index: 1;
		@include box-size ($w: 100%);
	}


	&__right-block {
		@include flex ($jc: space-between, $ai: center);
	}

	&__personal {
		position: relative;
		@include mar (0, 134px, 0, 0);

		&::before {
			@include pseudo;
			@include pos-abs (10px, 0, 205px, 0);
			@include box-size (48px, 2px);
			background-color: $bg-header-color;
		}
	}

	&__logo {
		@include pos-abs ($t: 56%, $l: 50%);
	}

	&__burger-btn {
		@include pos-fix ($t: 15px, $r: 25px);
		@include box-size(50px, 50px);
		display: block;
		z-index: 1;

	}

	&__content {
		@include flex ($jc: center, $ai: center, $fd: column);
	}

	&__btn {
		@include box-size(280px, 70px);
		@include font ($fs: 1.5rem, $lh: 2.5em, $ls: -0.02em, $text-trans: capitalize);
		@include border-radius-px (35);
		text-indent: -5.25rem;
		/*84px*/
		position: relative;


		&::before {
			@include pseudo;
			@include pos-abs ($t: 27px, $l: 210px);
			@include box-size ($w: 30px, $h: 16px);
			@include background (url('../images/base/arrow.jpg'));

		}
	}


	@media only screen and (max-width: 1440px) {
		&__personal::before {
			display: none;
		}
	}

	@media only screen and (max-width: 1368px) {
		&__navigation {
			display: none;
		}

		&__burger-line {
			@include box-size (35px, 2px);
			background-color: $bg-burger-color;
			position: relative;
			display: block;
			@include transition (all, 0.5s, ease);


			&::after,
			&::before {
				@include pseudo;
				@include pos-px ($r: 0);
				background-color: $bg-burger-color;
				@include box-size (35px, 2px);
			}

			&::after {
				@include pos-px (-10, 0, 0, 0);
				@include box-size ($w: 40px)
			}

			&::before {
				@include pos-px (10, 0, 0, 0);
				@include box-size ($w: 30px);
			}
		}

		&__right-block {
			@include pad(160px, 0, 240px, 0);
		}

		&__logo {
			display: block;
			@include pos ($t: 120%);
		}
	}
}