.header {
	@include background (url('../images/header/header_bg.jpg'));
	z-index: -1;
	min-height: 100vh;

	&__top {
		@include pad-mar (84, 0, 0, 0, 0, 0, 120, 0);
		position: relative;
	}

	&__navigation {
		@include flex ($jc: space-between, $ai: center, $fw: wrap);
		z-index: 1;
		@include box-size ($w: 100%);
		}


	&__right-block {
		@include flex ($jc: space-between, $ai: center);
	}

	&__personal {
		position: relative;
		@include pad-mar (0, 0, 0, 0, 0, 134, 0, 0);

		&::before {
			@include pseudo (10, 0, 205, 0);
			@include box-size ($w: 48px, $h: 2px);
			background-color: $bg-header-color;
		}
	}

	&__logo {
		@include pos-abs ($t: 56%, $l: 50%);
	}

	&__burger-btn {
		@include pos-fix (15,0, 0, 25);
		@include box-size($w: 50px, $h: 50px);
		display: block;
		z-index: 1;
		
	}

	&__content {
		@include flex ($jc: center, $ai: center, $fd: column);
	}

	&__btn {
		@include box-size($w: 280px, $h: 70px);
		@include font ($fs: 1.5rem, $lh: 2.5em, $ls: -0.02em, $text-trans: capitalize);
		@include border-radius (35);
		text-indent: -5.25rem;
		/*84px*/
		position: relative;


		&::before {
			@include pseudo (27, 0, 210, 0);
			@include box-size ($w: 30px, $h: 16px);
			@include background (url('../images/base/arrow.jpg'));
			
		}
	}


	@media only screen and (max-width: 1440px) {
		&__personal::before {
			display: none;
		}
	}

	@media only screen and (max-width: 1368px) {
		&__navigation {
			display: none;
		}

		&__burger-line {
			@include box-size ($w: 35px, $h: 2px);
			background-color: $bg-burger-color;
			position: relative;
			display: block;
			transition: all 0.5s ease;

			&::after,
			&::before {
				@include pseudo ($r: 0);
				background-color: $bg-burger-color;
				@include box-size ($w: 35px, $h: 2px);
				}
			
			&::after {
				@include pos (-10, 0, 0, 0);
				@include box-size ($w: 40px)
				
			}
			&::before {
				@include pos (10, 0, 0, 0);
				@include box-size ($w: 30px);
				}
		}

		&__right-block {
			@include pad-mar(160, 0, 240, 0);
		}

		&__logo {
			display: block;
			top: 120%;
		}
	}
}