.instagram {
	margin: 0 auto;
	text-align: center;

	&__inner {
		position: relative;
	}

	&__title {
		margin: 0 0 50px 40px;
		font-size: 24px;
		text-align: center;
		position: relative;
		display: inline-block;
	}

	&__link {

		&::before {
			@include pseudo;
			@include pos (absolute, $top: -5px, $left: -40px);
			@include background (url("../images/instagram/instagramm.png"));
			
			}
	}

	&__inner {
		@include flex (flex-start, center);
		overflow-x: auto;
		margin-bottom: 10px;
		flex: 1 0 20%;
	}

	&__picture {
		position: relative;
		width: 100%;
		
		&::before {
			@include pseudo;
			@include pos (absolute, $bottom: 17px, $right: 23px);
			@include background (url("../images/instagram/instagramm_white.png"));
			@include wh-px (26);

			z-index: 1;
		}
	}

	&__img {
		@include wh (100%, 384px);
		min-width: 384px;
	}
}