.instagram {
	@include mar (0, auto, 0, auto);
	
	text-align: center;

	&__inner {
		position: relative;
	}

	&__title {
		@include mar (0, 45px, 0, 0);

		font-size: 1.5rem;
		/*24px*/
		text-align: center;
		position: relative;
		display: inline-block;

		&::before {
			@include pseudo;
			@include pos-abs ($t: 0, $l: -40px);
			@include background (url("../images/instagram/instagramm.png"));
			@include box-size (26px, 26px);
		}
	}

	&__link {
		color: inherit;
		text-align: center;
	}

	&__inner {
		@include flex (center, center);
		overflow-x: auto;
	}

	&__picture {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;

		flex: 1 1 20%;

		&::before {
			@include pseudo;
			@include pos-abs ($b: 25px, $r: 20px);
			@include background (url("../images/instagram/instagramm_white.png"));
			@include box-size (26px, 26px);
			z-index: 1;
		}
	}

	&__img {
		object-fit: contain;
		}

	/* instagram */
	@media only screen and (max-width: 1440px) {}

	@media only screen and (max-width: 992px) {}

	@media only screen and (max-width: 768px) {}

	@media only screen and (max-width: 320px) {}
}