.products {
	overflow-x: auto;

	&__wrapper {
		@include flex (flex-start, center);
	}

	&__item {
		@include flex (center, center, nowrap, column);
		min-width: 480px;
		@include wh (100%, 720px);
		padding-top: 130px;
		
		&--brown {
			background-color: #642c18;
		}

		&--green {
			background-color: #1a8874;
		}

		&--yellow {
			background-color: #fab03e;
		}

		&--orange {
			background-color: #c3491f;
		}
	}

	&__img {
		margin-bottom: 25px;
		}

	&__title {
		@include font (24px, 26px, $font-weight: 700);
		margin-bottom: 5px;
		}

	&__subtitle {
		@include font (20px, 30px);
		margin-bottom: 60px;
		}

	&__btn {
		@include wh-px (207, 63);
		@include border (2px, solid, $bg-main-color);
		margin-bottom: 80px;
		position: relative;
		text-indent: -90px;
				
		&::before {
			@include pseudo;
			@include pos (absolute, $top: 20px, $left: 140px);
			@include wh-px (30, 16);
			@include background (url("../images/products/products_arrow_white.png"));
		}
	}
}