.products {
	overflow-x: auto;

	&__wrapper {
		@include flex ($jc: space-between, $ai: center);
		@include mar (0, auto, 0, auto);

	}

	&__item {
		@include flex ($ai: center, $fd: column);

		flex: 1 0 25%;

		min-width: 480px;
		/* 480px */
		@include box-size ($h: 720px);
		@include pad (130px, 0, 0, 0);

		&--brown {
			background-color: #642c18;
		}

		&--green {
			background-color: #1a8874;
		}

		&--yellow {
			background-color: #fab03e;
		}

		&--orange {
			background-color: #c3491f;
		}

	}

	&__img {
		@include mar (0, 0, 25px, 0);
	}

	&__title {
		@include font ($fs: 1.5rem, $lh: 1.1em, $fw: 700);
		@include mar (0, 0, 5px, 0);
	}

	&__subtitle {
		@include font ($fs: 1.3rem, $lh: 1.5em);
		@include mar (0, 0, 60px, 0);
	}

	&__btn {
		@include box-size (207px, 63px);
		

		border: 2px solid $bg-main-color;

		position: relative;

		text-indent: -90px;
		/* 90px */
		@include border-radius-px (30);

		&::before {
			@include pseudo;
			@include pos-abs ($t: 20px, $l: 140px);
			@include box-size (30px, 16px);
			@include background (url("../images/products/products_arrow_white.png"));
		}
	}

	/* products */
	@media only screen and (max-width: 1440px) {}

	@media only screen and (max-width: 992px) {}

	@media only screen and (max-width: 768px) {}

	@media only screen and (max-width: 360px) {
		&__img {
			@include box-size (100px, 254px);
		}
	}
}