.story {
	&__inner {
		@include flex (center, center, wrap);
		margin: 120px auto 160px;

		@media only screen and (max-width: 1360px) {
			@include flex (center, center, wrap, column);
		}
	}

	&__box {
		@media only screen and (max-width: 1360px) {
			margin-bottom: 180px;
		}
	}

	&__image {
		max-width: 584px;
	}

	&__title {
		margin-bottom: 43px;
	}

	&__text {
		margin-bottom: 45px;
		max-width: 525px;
	}

	&__btn {
		@include wh-px (300, 64);
		text-indent: -126px;
		position: relative;

		@media only screen and (max-width: 1360px) {
			margin-bottom: 80px;
		}

		&::before {
			@include pseudo;
			@include pos (absolute, $top: 23px, $right: 40px);
			@include wh-px (30, 16);
			@include background (url("../images/base/arrow.png"))
		}
	}

	&__content {
		position: relative;
		margin-left: 200px;

		@media only screen and (max-width: 1360px) {
			margin-left: 0;
		}

		@media only screen and (max-width: 768px) {
			margin-left: 125px;
		}

		&::after {
			@include pseudo;
			@include pos (absolute, $top: 20px, $left: -170px);
			@include wh-px (290, 216);
			@include background (url("../images/story/story_stamp.png"));

			@media only screen and (max-width: 360px) {
				display: none;
			}
		}
	}

	&__img {
		width: 100%;
	}
}